



<ion-header [translucent]="true" >
  <ion-toolbar class="ion-align-items-center">
    
    <ion-item>
      <ion-title class="ion-margin-top">
        Blank
      </ion-title>
      <app-people-counter></app-people-counter>
    </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >
  
  

  <ion-toolbar id="formulario" style="margin-top: 20px;">
    <form (ngSubmit)="anadircarta()" #formulario="ngForm">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="inputnombre" name="inputnombre" id="inputnombre" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input [(ngModel)]="inputapellido" name="inputapellido" id="inputapellido" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input [(ngModel)]="inputedad" name="inputedad" id="inputedad" type="number" required></ion-input>
      </ion-item>
  
      <ion-button type="submit" [disabled]="!formulario.valid" expand="block" id="boton">Añadir</ion-button>
    </form>
  </ion-toolbar>

  
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let person of people;let numero=index">
        <app-personal-card 
        [name]="person.name" 
        [surname]="person.surname" 
        [age]="person.age"
        [favourite]="person.favourite"
        (newItemEvent)="llegadehijo($event,person)"
        >
        </app-personal-card>      
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>